@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: #050505; /* Dark background matches your theme */
  color: white;
  scroll-behavior: smooth;
}